*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
  }
  html,
  body{
    margin-top:65px ;
    width: 100%;
    height: 100%;
    /* width: 51.55vw; */
  }
  nav {
      color: black;
      font-weight:150;
      width: 100%;
      background-color: rgb(245, 237, 240);
      height: 5vh;
  /* because of width: 1378px; nav come in center with the help of margin: auto;  */
      width:71.77vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 0.6rem;
      }
  ul {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-top: 1.2vh;
    list-style-type: none; /* This will remove the bullet points */
  }
  a {
    opacity: .4;
    text-decoration: none;
    color:black;
    padding-right: 0.625rem;
  }
  a:hover {
    color: #827e7e;
  }
  ul li{
    margin: 0;
    font-size: 1rem;
  }
  img{
    margin-top: 1.5625;
    margin-bottom: 0.6rem;
    width: 100vw;
  }
  /* <!-- 1st section of booking named book--> */
  .book{
    max-width: 100%;
    height: 8vh;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 237, 240);
    column-gap: 9.5vw;
    font-size: 17px;
    margin-bottom: 2vh; 
    /* overflow-x: hidden;  */
  }
  .book h4 .pickup{
    opacity: .3;
    cursor:not-allowed;
  }
  /* <!-- 2nd section of filter named container --> */
  .container{
  /* need some changes in position */
    max-width: 100vw;
    height:10vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15rem;
    background-color: rgb(245, 237, 240);
    font-size: 13px;
  }
  
  .fw{
    font-size:1.1rem;
    padding-top: 0.3rem;
  }
  .filter-title{
    padding-left: 3rem;
    margin-top: 0.6rem;
  }
  .fill{
    display: flex;
  }
  .container ul li button{
    height: 2.50rem;
    overflow: hidden;
    background: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.25rem;
    border: 1px solid #ededed;
  }
  .bitmal ul li button{
    width: 7rem;
  }
  select{
    border: none;
    outline: none;/* to remove the border after selection */
    
  }
  .sort ul i{
    text-align: center;
    padding-right: 0.5rem;
  }
  option{
    border: 2px solid white;
  }
  input::placeholder {
    color:rgb(6, 5, 5);
    border: none; /* This line doesn't actually remove the border but makes it transparent */
    }
  input {
    border: 1px solid white; /* Adding a border to demonstrate */
    padding: 0.1px;
    }
  .container ul {
    margin-left: 5.90625rem;
    } 
  .item-no {
    font-size: 1.25rem;
    margin: 1rem 0;
    padding: 0.7rem;
    padding-left:3rem;
    text-transform: none;
    display: flex;
    background-color: rgb(245, 237, 240);
  }
  .item-count{
    color: rgba(0, 0, 0, .6);
    padding-left: 2rem;
  }
  .shop-section{ 
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
   padding-top: 1rem;
   /* ///grid-template-columns: repeat(auto-fill, min-max(200px,1fr)); */
    grid-template-columns:22vw 22vw 22vw 22vw;  
   grid-column-gap: 2rem;
    background-color: rgb(245, 237, 240);
  }
   .box{
   position: relative;
    display: inline-block;
    background-color:hsl(0, 0%, 100%);
    margin: 1rem 2rem;
    overflow-y: hidden;
    width: 22vw;
   }
   .image-container {
    position: relative;
    display: inline-block;
  }
  .main-image {
    flex-wrap: wrap;
    display: block;
    width:22vw; /* Adjust size as needed */
    height: auto;
  }
  .icon {
    display: flex;
    position: absolute;
    font-size: 20px; /* Adjust size as needed */
    background: #e2dadaea; /* Optional: Adds a semi-transparent background */
    border-radius: 50%; /* Optional: Rounds the icon */
    padding: 10px; /* Optional: Adds some padding */
    cursor: pointer; /* Optional: Adds pointer cursor on hover */
  }
  
  .top-right-icon {
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
  }
  
  .bottom-left-icon {
    display: flex;
     justify-content: space-between;
    align-items: center;
    border-radius: 0.1rem;
    height:0.58rem;
    width:4rem ;
    background-color: #f5f1f1;
    font-size: 0.67rem;
    bottom: 19px; /* Adjust bottom position as needed */
    left: 10px; /* Adjust left position as needed */
  }
  .bottom-left-icon .rating{
    color:rgb(99, 95, 95);
    font-size: 12px;
    opacity: 0.8;
  }
  .box-content .badge{
    color:rgb(209, 92, 71);
    display: block;
    font-size: smaller;
   font-weight: bold;
   margin: 0.5rem ;
   
  }
  .descript{
    opacity: +5;
    display: block;
    color: black;
    margin: 0.3rem;
    /* max-height: 100px;
    overflow: scroll; */
    
    /* text-decoration: underline; */
  }
  a:hover {
    color: rgb(198, 173, 173); /* Change the color on hover */
    text-decoration: none; /* Remove underline on hover */
  }
  .box-content .tag{
    margin: 0.3rem;
    color: rgba(133, 129, 129, 0.9)
  }
  .price{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: black;
    font-size: 19px;
    margin: 0.3rem;
  }
  .original-price{
    color:rgb(99, 95, 95);
    opacity: +5;
    padding: 0.4rem;
    font-size: 0.875rem;
    text-decoration: line-through;
  }
  .per-off{
    padding: 0.4rem;
    font-size: 16px;
    color:rgb(209, 92, 71);
  }
  @media ( max-width:600px){
    .sort ul{
      display: none;
    }
    } 
    @media ( min-width:601px) and ( max-width:1024px){
      .sort ul{
        display:none; 
        background-color: lavender;
       }
      } 
      /* @media ( max-width:1200px){
        .sort ul{
          display:none;
        background-color: #e58ae0;  
      }
        }  */